:root {
	--bgBody:#e9e9e9;
	--bgHeader: #2c3e50;
	--bgNav: #c0392b;
	--bgNavHover: #e74c3c;
	--bgAside: #e67e22;
	--bgFooter: #2c3e50;
	--blanc: #fff;
  }

* {
	box-sizing: border-box;
}

body {
	background: var(--bgBody);
}
.contenedor {
	width:90%;
	max-width:1000px;
	margin:auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
header h1 {
	color: var(--blanc);
}
header {
	background-color: var(--bgHeader);
	width: 100%;
	height: 100px;
	padding: 3%;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
header nav {
	width:50%;
	height: 100%;
	max-width:1000px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--bgNav);


}
header nav a {
	height: 100%;
	width: 25%;
	color: var(--blanc);
	text-align: center;

	}
header nav a:hover {
	background-color: var(--bgNavHover);
}
main {
	width:70%;
	padding: 2%;
	max-width:1000px;
	margin-left: 0px;
	background-color: var(--blanc);
	

}
aside {
	width:30%;
	max-width:1000px;
	margin-right: 0px;
	background-color: var(--bgAside);
	padding: 2%;
}
aside .widget img{
	width: 150px;
}
aside .widget img{
	width: 100%;
	height: 100%;
	margin: auto;
	align-content;
}
footer {
	width: 100%;
	background-color: var(--bgFooter);
}